#body
{

	font-family: 'Vollkorn SC', serif;
	font-weight: bold;
	background-color: grey;
}

header
{
	margin: 10px;
	padding: 10px;
	font-weight: bolder;
	border:5px solid white;
	background-color: black;
	color:white;
	font-size: 70px;
}
h1
{
	font-size: 25px;
}
#rules
{	
	margin-top:20px;
	padding-bottom: 20px;
	border-bottom: 5px solid white;
	margin-bottom: 10px;  
}
.randomly{
	background-color:  green;
	color: black;
}
.yournumber{
	padding-top: 10px;
	padding-bottom: 14px;
	color:green;
	background-color: black;
}
#winlose{
	padding-top: 4px;
	padding-bottom: 5px;
	background-color: green;
	color:black;
}

#carpick{
	margin-top: 20px;
	border-bottom: 5px solid white 

}
.carbutton
{
	margin-top: 20px;
}
.car
{
	font-family: times;
	margin-top: 20px;
	border: 7px solid white;
	background-color: black;
	color: white;
	font-size: 20px;
}
